<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../css/core.css">

	<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.maskedinput-1.3-modified.js"></script>
	<script type="text/javascript" src="../js/date.js"></script>
	
    <script type="text/javascript" src="../js/angular-1.0.1.min.js"></script>
    
	<script type="text/javascript" src="../ui-mask/ui-mask.js"></script>
	<script type="text/javascript" src="../ui-date-validating/ui-date-validating.js"></script>

    <style>
        form {
            padding: 20px;
        }
    </style>

    <script type="text/javascript">
        angular.element(document).ready(function() {
            angular.bootstrap(document, ['MaskDirectiveModule', 'DateValidationModule']);
        });

        function TestController($scope) {
            $scope.data = {
                date1: '',
				date2: '',
            }
			
			$scope.minDate = function() {
				return new Date.today();
			}
			
			$scope.maxDate = function() {
				var maxDate = $scope.minDate();
				return maxDate.setYear(maxDate.getFullYear() + 1);
			}
        };
    </script>
</head>
<body ng-controller="TestController">
	<form>
		<div class="control-group">
			<label class="control-label" for="date1">Date between 2000-01-01 and 2030-12-31</label>
			<div class="controls">
				<input id="date1" type='text' name="date1"
					ng-model='data.date1'
					required 
					placeholder="yyyy-MM-dd"
					ui-date-validating='yyyy-MM-dd' min="2000-01-01" max="2030-12-31"
					ui-mask="'9999-99-99'" mask-all="true" mask-placeholder="'yyyy-MM-dd'">
			</div>
			<span> Inputed date: {{ data.date1.toString() }} </span>
		</div>
		
		<hr>
		
		<div class="control-group">
			<label class="control-label" for="date2">Date between today and today + 1 year</label>
			<div class="controls">
				<input id="date2" type='text' name="date2"
					ng-model='data.date2'
					required 
					placeholder="yyyy.MM.dd"
					ui-date-validating='yyyy.MM.dd' min=minDate() max=maxDate()
					ui-mask="'9999.99.99'" mask-all="true" mask-placeholder="'yyyy.MM.dd'">
			</div>
			<span> Inputed date: {{ data.date2.toString() }} </span>
		</div>
	</form>
</body>
</html>